### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml
*/nbproject/private/
/modulo1/proyectos/E_ProyectoIMC/nbproject/private/
/modulo1/proyectos/05_LeerDatos/nbproject/private/
/modulo2/proyectos/06_SwingCuadrosDialogo/nbproject/private/
/modulo2/proyectos/02_SwingComponentes/nbproject/private/
/modulo2/proyectos/08_SwingNetbeans/nbproject/private/
/modulo2/proyectos/E_Internacionalizacion/nbproject/private/
/modulo2/proyectos/09_Localizacion/nbproject/private/
/modulo2/proyectos/07_SwingGraficos/nbproject/private/
/modulo2/proyectos/05_SwingEventos/nbproject/private/
/modulo2/proyectos/11_ConexionBD/nbproject/private/
/modulo2/proyectos/04_SwingJPanel/nbproject/private/
/modulo2/proyectos/03_SwingLayoutManager/nbproject/private/
/modulo2/proyectos/E_ATM/nbproject/private/
/modulo2/proyectos/10_Internacionalizacion/nbproject/private/
/modulo2/proyectos/01_SwingJFrame/nbproject/private/
/modulo2/proyectos/E_IMCCalculate/nbproject/private/
/modulo1/evaluaciones/Cafeteria_AdolfoParedes/nbproject/private/
/modulo1/evaluaciones/Cafeteria_MarujaPerez/nbproject/private/
/modulo3/proyectos/06_UsoDataTable/nbproject/private/
/modulo3/proyectos/11_Sesiones/nbproject/private/
/modulo3/proyectos/04_ValidacionDeDatos/nbproject/private/
/modulo3/proyectos/01_ManagedBeans/nbproject/private/
/modulo3/proyectos/08_UsoDeAjax/nbproject/private/
/modulo3/proyectos/07_ManejoDeEventos/nbproject/private/
/modulo3/proyectos/02_Plantillas/nbproject/private/
/modulo3/proyectos/05_ConversionDeDatos/nbproject/private/
/modulo3/proyectos/09_ComponentesCompuestos/nbproject/private/
/modulo3/proyectos/03_ReglasDeNavegacion/nbproject/private/
/modulo3/proyectos/10_SoporteHtml5/nbproject/private/